@font-face {
    font-family: playfair;
    src: url("./Fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.woff2");
}

@font-face {
    font-family: roboto;
    src: url("./Fonts/Roboto/Roboto-Regular.woff2");
}

/* Global */
body {
    padding: 0 8%;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
    padding: 0px;
    margin: 0px;
}
.github {
    aspect-ratio: 1/1;
    width: 25px;
    background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg");
    background-repeat: no-repeat;
}
.buttons {
    align-self: flex-end;
}
img {
    aspect-ratio: 1/1;
    width: 300px;
}

/* HEADER */
header {
    padding: 40px 0;
}
    .header_card {
        display: flex;
        gap: 3rem;
        padding: 0 10% 50px 10%;
    }
        .header_img {
            transform: scale(1.2) translateX(8%);
        }
        .aboutMe {
            display: flex;
            
            flex-direction: column;
            justify-content: space-around;
            padding-left: 20px;
            padding-right: 20px;
            border: 3px solid black;
        }

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 4rem;
}
.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
    .card {
        border: 3px outset rgb(92, 92, 92, 0.4);
        box-shadow: 3px 3px rgb(92, 92, 92, 0.2);
    }
        .card > img {
            aspect-ratio: 0;
            width: 100%;
        }
        .description {
            padding: 1rem;
        }
            .title {
                display: flex;
                justify-content: space-between;
                margin-bottom: 1rem;
            }

/* FOOTER */
footer {
    padding: 2rem 0;
}
    .footer_card {
        display: flex;
        justify-content: space-around;
        padding: 0 15%;
    }
        .contacts_card {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem;
        }
            .contacts {
                display: flex;
                flex-direction: column;
            }
                .contacts > p:first-child,
                .contacts > p:nth-child(2) {
                    padding-bottom: 30px;
                }
                .tel::before, .mail::before  {
                    content: url("./img/phone.svg");
                    display: inline-block;
                    aspect-ratio: 1/1;
                    width: 20px;
                    padding-right: 4px;
                    transform: translateY(4px);
                }
                .mail::before {
                    content: url("./img/mail.svg");
                }
        .footer_img {
            display: flex;
            gap: 3rem;
            padding: 0 10% 50px 10%;
            transform: scale(1.2) translateX(8%);
        }
