@font-face {
    font-family: playfair;
    src: url("./Fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.woff2");
}

@font-face {
    font-family: roboto;
    src: url("./Fonts/Roboto/Roboto-Regular.woff2");
}

/* Global */
h1, h2, h3, h4, h5, h6, p {
    padding: 0px;
    margin: 0px;
}
.github {
    aspect-ratio: 1/1;
    width: 25px;
    background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg");
    background-repeat: no-repeat;
}
.buttons {
    align-self: flex-end;
}
img {
    aspect-ratio: 1/1;
    width: 300px;
}

/* HEADER */
header {
    padding: 40px 10%;
}
    .header_card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-around;
    } 
        .header_img {
            justify-self: right;
            transform: scale(1.2) translateX(-5%);
        }
        .aboutMe {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding-left: 20px;
            padding-right: 20px;
            border: 3px solid black;
        }

    

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    border: 2px solid black;
}
    .card {
        border: 3px border black;
    }
        .card > img {
            width: 300px;
        }
        .title {
            display: flex;
            justify-content: space-between;
        }
